<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.ApplicationsMapper">
    <delete id="deleteApplicationsByUsername">
        DELETE FROM Applications
        WHERE UserID = (SELECT ID FROM User WHERE Username = #{username})
    </delete>
    <select id="getApplicationsByUserID" resultType="com.example.backend.pojo.Applications">
        SELECT *
        FROM Applications
        WHERE UserID = #{userId}
    </select>
</mapper>